.slider {
    display: flex;
    width: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1rem;

    &__content {
        display: flex;
        flex-direction: column;
    }
    &__content:hover {
        transform: scale(1.2);
    }
    &__image {
        min-width: 5rem;
        height: 5rem;
        object-fit: contain;
        scroll-snap-align: center;
        background-color: #fafafa;
        border: 2px solid #ffc107;
        margin: 0 0.5rem 0 0.5rem;
        border-radius: 1rem;
        padding: 0.5rem;
    }
    &__name {
        font-size: 0.5rem;
        text-align: center;
        text-overflow: ellipsis;
        font-weight: bold;
    }
    .skeleton__image {
        min-width: 5rem;
        height: 5rem;
        object-fit: contain;
        scroll-snap-align: center;
        background-color: #eeeeee;
        border: 2px solid #ffc107;
        margin: 0 0.5rem 0 0.5rem;
        border-radius: 1rem;
        padding: 0.5rem;
    }
    .loading {
        visibility: hidden;
    }
}

.arrows {
    display: flex;
    justify-content: flex-end;
    color: #ffc107;
    &__left {
        padding: 0 0.5rem;
        cursor: pointer;
        font-size: 1.5rem;
    }
    &__right {
        cursor: pointer;
        font-size: 1.5rem;
        padding: 0 0.5rem;
    }
}

